
body {
  font-family: 'Arial', helvetica, sans-serif;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #edd9b1;
}

#topnav {
  border: 2px solid;
  font-size: 20px;
  border-width: medium;
  margin: auto;
  padding-left: 16px;
  list-style: none;
  overflow: hidden;
  background-color: #d6b471;
}

body{
  margin-left: 100px;
  margin-right: 100px;
}

#topnav > li{
  float: left;
}

#topnav > li > a{
  display: block;
  color: darkred;
  text-align: center;
  padding: 14px 36px;
}

#topnav > li > a:hover{
  background-color: #00C69A;
}


/* Menu */
#menu{
  padding: 20px;
  margin-top: 10px;
  border: 2px solid;
  column-count: 2;
}

/* Appetizers */
#apps-list dt{
  font-size:16px;
  color: red;
}

#apps-list dd{
  font-size:12px;
  color: brown;
}

/* END Appetizers */

/* END Menu */

footer {
  text-align: center;
}
