body {
  font-family: "Times New Roman", Times, serif;
  background-color: #64bce4;
}

nav {

}

footer {
  border-style: ridge;
  text-align: center;
}

ul {
  list-style-type: none;
  list-style: none;
  padding: 0;
  width: 2000px;
  margin: 0 auto;
}

table {
}

#container {
  background-color: white;
}

#feature {
  text-align: center;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#Title {
  text-align: center;
}
